.wrap {
  //width: 90%;
  margin: 0px auto;
}

#dashboard-page {

  #dashboard-content-area {
    min-height: 40rem;


    md-sidenav {
      h2,
      md-input-container,
      md-icon,
      md-button {
        margin-left: 2%;
      }

    }

    md-content {
      margin-left: 3%;
      margin-right: 5%;
    }

  }

}
