<div id="dashboard-page">

    <!-- This covers both Mobile and Desktop Menu -->
    <top-menu-bar></top-menu-bar>


    <!-- Main Content Area -->
    <div layout="row" id="dashboard-content-area" class="wrap">
        <!-- Wireframe Container #3 -->

        <md-sidenav ng-click="ul.toggleList()"
                    md-is-locked-open="$mdMedia('gt-sm')"
                    md-component-id="filter-left-nav"
                    class="md-whiteframe-z2">

            <h2> Nav yet to be populated.</h2>


        </md-sidenav>

        <!-- Container #4 -->
        <md-content flex id="main-content">
            <form>
                <div layout="column" id="search-pane">
                    <md-input-container class="md-block">
                        <label>Find Your Dream Home</label>
                        <input ng-model="vm.user" type="text" required>
                    </md-input-container>

                    <md-button ng-click="vm.searchProperties()" md-autofocus class="md-raised md-primary">Search
                        Properties
                    </md-button>
                </div>
                <div layout="column" id="results-pane">
                    <div ng-repeat="ad in vm.advertisements" flex layout="row" layout-align="center center" layout-margin>
                        <p>Pegasi B</p>
                        <p><img src="http://placehold.it/400x370&text=Pegasi B"
                                alt="image of a planet called Pegasi B"></p>
                        <div class="row">
                            <div class="small-3 lead">
                                Property Title
                            </div>
                            <div class="small-9">
                                {{ad.title}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="small-3 lead">
                                Advertisement Details
                            </div>
                            <div class="small-9">
                                {{ad.advertisementDetails}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-3 lead">
                                Property Address
                            </div>
                            <div class="small-9">

                                                        <span>
                                                            {{ad.property.address.addressLine1}},{{ad.property.address.addressLine2}}
                                                        </span>
                                                        <span>
                                                            {{ad.property.address.postcode}}
                                                        </span>
                                                        <span>
                                                           {{ad.property.address.townOrTaluka}},{{ad.property.address.city}},{{ad.property.address.state}}
                                                        </span>

                            </div>
                        </div>
                        <div class="row">
                            <div class="small-3 lead">
                                No Of Bedrooms
                            </div>
                            <div class="small-9">
                                {{ad.property.bedRooms}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="small-3 lead">
                                No Of Bathrooms
                            </div>
                            <div class="small-9">
                                {{ad.property.bathRooms}}
                            </div>
                        </div>


                    </div>
                </div>


            </form>

        </md-content>

    </div>


    <!-- Footer -->
    <footer-bar></footer-bar>

</div>